In [1]:
import pandas as pd

In [3]:
psg_players = pd.Series(['Navas', 'Mbappe', 'Neymar', 'Messi'],
          index=[1,7,10,30]
          )

In [4]:
psg_players

1      Navas
7     Mbappe
10    Neymar
30     Messi
dtype: object

In [5]:
pd.Series(['Navas', 'Mbappe', 'Neymar', 'Messi'])

0     Navas
1    Mbappe
2    Neymar
3     Messi
dtype: object

In [7]:
dict = {1: 'Navas', 7:'Mbappe', 10: 'Neymar', 30:'Messi'}
pd.Series(dict)

1      Navas
7     Mbappe
10    Neymar
30     Messi
dtype: object

In [11]:
psg_players[0:3]

1      Navas
7     Mbappe
10    Neymar
dtype: object

In [13]:
dict = {'Jugador' : ['Navas','Mbappe' ,'Neymar','Messi'],
 'Altura' : [183.0,170.0,170.0,165.0],
 'Goles' : [2,200,200,200]
 }

In [14]:
pd.DataFrame(dict,index=[1,7,10,30])

   Jugador  Altura  Goles
1    Navas   183.0      2
7   Mbappe   170.0    200
10  Neymar   170.0    200
30   Messi   165.0    200

In [16]:
df_players = pd.DataFrame(dict)

In [17]:
df_players.columns

Index(['Jugador', 'Altura', 'Goles'], dtype='object')

In [18]:
df_players.index

RangeIndex(start=0, stop=4, step=1)